body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
    background-color: #1e1e1e;
    color: white;
    display: flex; 
    justify-content: center; 
}

.app-container {
    max-width: 1000px; 
    width: 100%; 
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.center-content {
    text-align: center;
    margin-bottom: 20px;
}

.form-container, .filter-container {
    border: 1px solid #555;
    padding: 20px;
    margin: 20px 0;
    background-color: #2e2e2e;
    border-radius: 8px;
}

input[type="text"], 
input[type="date"], 
select, 
textarea {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}